*
{
    margin: 0;
    padding: 0;
}
#navbar
{
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
}
#logo
{
    margin: 10px 34px;
}
#logo img
{
    height: 59px;
    margin: 3px 6px;
}
#navbar ul
{
    display: flex;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#navbar ul li
{
    list-style: none;
    font-size: 1.3rem;
}
#navbar ul li a
{
   display: block;
   padding: 3px 22px;
   border-radius: 20px;
   text-decoration: none;
   color: white;
}
#navbar::before
{
    content: "";
    background-color: black;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.4;
}
#navbar ul li a:hover
{
   color:black ;
   background-color: white;
}
#home
{
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    height: 550px;
    justify-content: center;
    align-items: center;
}
#home::before
{
    content: "";
    background:url(ba.jpg) no-repeat center center/cover;
    position: absolute;
    height: 642px;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: -1;
    opacity: 0.89;
}
#home h1
{
    color: white;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}
#home p
{
    color: white;
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Times New Roman', Times, serif;
}
#services
{
    display: flex;
    margin: 34px;
}
#services .box
{
    border: 2px solid brown;
    padding: 34px;
    margin: 25px 6px;
    border-radius: 28px;
    background-color: #f2f2f2;
}
#services .box img
{
    height: 160px;
    margin: auto;
    display: block;
}
#services .box p
{
    font-family: 'Times New Roman', Times, serif;
}
#clientsection
{
    position: relative;
}
#clientsection::before
{
    content: "";
    position: absolute;
    background: url('bg2.jpg');
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.3;
}
#clients
{
    display: flex;
    justify-content: center;
    align-items: center;
}
#clients img
{
    height: 124px;
}
.clientitems
{
    padding: 30px;
}
#contact
{
    position: relative;
}
#contact::before
{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.5;
    background: url('contact.webp') no-repeat center center/cover;
}
#contactbox
{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 34px;
}
#contactbox input,
#contactbox textarea
{
    width: 100%;
    padding: 0.5rem;
    border-radius: 9px;
    font-size: 1.1rem;
}
#contactbox form
{
    width: 40%;
}
#contactbox label
{
    font-size: 1.3rem;
    font-family: 'Times New Roman', Times, serif;
}
footer
{
    background: black;
    color: white;
    padding: 9px 20px;
}
.primary
{
    font-size: 3.8rem;
    padding: 12px;
    font-family: 'Times New Roman', Times, serif;
}
.secondary
{
    font-size: 2.3rem;
    padding: 12px;
    font-family: 'Times New Roman', Times, serif;
}
.btn
{
    padding: 6px 20px;
    border: 2px solid white;
    background-color: brown;
    color: white;
    margin: 17px;
    font-size: 1.5rem;
    border-radius: 10px;
    cursor: pointer;
}
.center
{
    text-align: center;
}
html
{
    scroll-behavior: smooth;
}